# .github/workflows/api-tests.yml
name: API Tests

on: [push, pull_request]

jobs:
  # Tests unitaires
  unit-tests:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    
    - name: Install dependencies
      run: |
        pip install -r backend/requirements.txt
    
    - name: Start API
      run: |
        python app.py &
        sleep 5
    
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '16'
    
    - name: Install Bruno CLI
      run: npm install -g @usebruno/cli
    
    - name: Run tests
      run: bru run --env ci