name: Tests
on:
  pull_request:
    branches: [main, staging]
  push:
    branches: [staging, main]

jobs:
 unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: setup
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install
      
      - name: Run unit tests
        run: bun unit_tests